

// text-field
$text-field-padding: 8px 0px 8px 6px !important;
// $text-field-label-active-transform:translateY(-33px) scale(0.95%) !important;
$text-field-outer-padding-top: 20px !important;
$icon-size:19px !important;
